.panel {
  width: 20%;
  height: calc(100% - $header-height);
  position: fixed;
  right: 0;
  top: $header-height;
  background-color: $black-70;
  @include flex-center;

  .title {
    color: $white-90;
  }
}