// colors
$white: #fff;
$white-90: rgba($white, .9);
$white-10: rgba($white, .1);
$black: #000;
$black-70: rgba($black, .7);

// size
$header-height: 80px;

// font
$fs-16: 16px;
$fw-600: 600;

// z-index
$z-header: 19;
$z-sider: 18;
$z-panel: 18;
