.header {
  width: -webkit-fill-available;
  height: $header-height;
  position: fixed;
  z-index: $z-header;
  background-color: $white-10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;

  .icon:hover {
    cursor: pointer;
  }

  .title {
    color: $white-90;
    user-select: none;
  }
}
